@font-face {
	font-family: "Staatliches";
	font-weight: 400;
	src: url("/Staatliches-Regular.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Staatliches";
}

html,
body {
	width: 100%;
	height: 100%;
}

main {
	background-color: #fffff0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scene {
	width: 100%;
	height: 100%;
}

canvas {
	display: block;
}

/* MAIN PAGE */

ol {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 3.2rem;
	padding: 4rem;
}

li {
	color: rgb(35, 35, 39);
}

a {
	cursor: pointer;
	color: inherit;
}

a:hover {
	color: rgb(77, 37, 255);
}

.disabled {
	pointer-events: none;
	touch-action: none;
	color: rgba(35, 35, 39, 0.7);
}

@media only screen and (max-width: 760px) {
	ol {
		font-size: 2rem;
	}
}
